

#nav-bar {
    height: 100px;
    position: sticky;
    background-color: #2b2b2b;
}

a#logo img {
    height: 80px;
}

#body-background {
    background-color: #5e3d14;
}

.nav-icon {
    margin: 20px 10px 5px 30px;
    font-size: 30px;
    display: inline-block;
}

    .nav-icon a {
        color: #30c634;
    }




/* home page */
div.home {
    display: grid;
    grid-template-columns: 80% 20%;
    background-color: #5e3d14;
    z-index: -3;
    background-image: url("camo.jpg");
}

#waterfall {
    grid-area: 1 / 2 / 10 / 3;
    position: sticky;
    background-image: url("waterfall.JPG");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: top right;
    right: 20px;
    width: 280px;
    border-radius: 10px;
    box-shadow: inset 0 0 40px rgba(0, 0, 0, 0.86);
}

div.park {
    grid-column-start: 1;
    margin: 20px;
    padding: 2px;
    display: grid;
    max-width: 1200px;
    min-width: 800px;
    color: white;
    grid-template-columns: 40% 40% 20%; /*//assign column width*/
    grid-template-rows: 20% 10% 70%; /*gridrows , height,*/
}

    div.park img {
        grid-area: 1 / 1 / 4 / 2; /*r,c,r,c how much space element takes up*/
        width: 90%;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.86);
    }

div.park-intro {
    width: 600px;
    margin-top: 2em;
    padding: 10px;
    clear: left;
    background-color: #272727;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.86);
    z-index: 5;
}

a.name {
    color: white;
    font-size: 30px;
}

    a.name:hover {
        color: white;
    }

h4.state {
}

div.park h2 {
    grid-area: 1 / 2 / 2 / 3;
}

div.park h4 {
    grid-area: 2 / 2 / 3 / 3;
}

div.park p {
    grid-area: 3 / 2 / 4 / 3;
    padding-top: 10px;
}


div.park-detail {
    background-color: white;
}

div.park-stats {
    width: 500px;
    margin: 10px;
    display: grid;
    grid-template-columns: 50% 50%; /*//assign column width*/
}

/* weather */


div.descriptionWrapper {
    background-color: white;
    display: grid;
    min-width: 1100px;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    background-color: #5e3d14;
    
}

div.park-detail {
    background-image: url("camo.jpg");
}

div.weather {
    margin-top: 40px;
    max-width: 700px;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
}

img.parkPic {
    grid-area: 1 / 1 / 3 / 2;
    width: 80%;
    margin: auto;
    background-color: #5e3d14;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.86);
}

div.detail-header {
    color: white;
    grid-area: 1 / 2 / 2 / 3;
    background-color: #5e3d14;
    max-width: 500px;
    border-radius: 5px;
}

div.park-stats {
    margin-top: 30px;
    padding: 10px;
    grid-area: 2 / 2 / 3 / 3;
    background-color: lightgreen;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.86);
}

div.park-description {
    margin-top: 30px;
    background-color: #b79662;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.86);
}

div.weather {
    grid-gap: 20px;
    padding: 30px;
    min-width: 800px;
    margin: auto;
    background-color: rgba(48, 198, 52, 0.52);
    border-radius: 10px;
}

div.todays-weather {
    background-color: lightblue;
    padding: 10px;
    width: 150px;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 40% repeat(3, 20%);
    border-radius: 10px;
    border: 4px solid white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.85);
}

#weather-img {
    grid-area: 1 / 1 / 2 / 3;
    width: 100%;
    border-radius: 10px;
    border-color: black;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.85);
}

span.message {
    padding: 10px;
    grid-area: 3 / 1 / 5 / 3;
}

div.week-weather {
    background-color: lightcyan;
    font-family: sans-serif;
    border-radius: 10px;
    border-color: black;
    padding: 10px;
    height: 180px;
    width: 125px;
    border: 4px solid white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.85);
}

#weather-week-img {
    width: 100px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.85);
}

.weather form {
    color: white;
    grid-area: 2 / 5 / 3 / 6;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    background-color: rgba(48, 198, 52, 0.70);
}
