@model List<NPGeek.Web.Models.Park>

@{
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}




<title>Home</title>

<div class="home">

    @foreach (var park in Model)
    {
        <div class="park">
            <img src="~/Content/parks/@(park.ParkCode).jpg" />
            <div class="park-intro">
                <div class="park-head">
                    <a class="name" href="@Url.Action("Detail","Park", new { parkCode = park.ParkCode })">@park.Name</a>
                    <h4 class="state">(@park.State)</h4>
                </div>
                <p>@park.ParkDescription</p>
            </div>
        </div>
    }

            <div id="waterfall"></div>


</div>
