@model List<NPGeek.Web.Models.SurveyResult>

@{
    ViewBag.Title = "Survey";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}



@* list must include name, count of surveys*@
@* only show parks with survey > 1 *@

<div class="surveyWrapper">
    <div class="survey-results">
        <h4></h4>
        <h4>Survey Results</h4>
        <h4>Survey Count</h4>
    </div>

    @foreach (var survey in Model)
    {
        <div class="survey-results">
            <img class="survey-img" src="~/Content/parks/@(survey.ParkCode.ToLower()).jpg" />
            <h2>@survey.ParkName</h2>
            <span>@survey.SurveyCount </span>

        </div>
    }
</div>
